.authLayout {

    display: flex;
    flex: 1;
    
    .authPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 50px;


        .header {
            margin-left: auto;
            color: white;
            
            a {
                color: var(--linkTextColor);
                text-decoration: none;

                &:hover {
                    color: var(--linkHoverTextColor);
                }
            }
        }

        .authForm {

            .authTitle {

                font-family: "Inter";
                padding: 20px 0px;
                
                .title {
                    font-size: 34px;
                    color: var(--textColor);
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            
                .subTitle {
                    font-size: 13px;
                    color: var(--greyTextColor);

                }
            }

            .inputContainer {
                
                margin-bottom: 25px;

                // TODO: chrome autofill
                input {
                    background-color: var(--inputBgColor);
                    border-color: var(--inputBgColor);
                    border: 1px solid var(--inputBgColor);
                    color: var(--lightGreyTextColor);

                    box-sizing: border-box;

                    width: 100%;
                    padding: 14px 1rem;
                    font-size: 14px;
                    font-family: "Inter";
                    font-weight: 500;
                    line-height: 1.5;
                    appearance: none;
                    border-radius: 0.475rem;

                    transition: color 0.2s ease;
                    
                    &:focus, &:-webkit-autofill,
                    &:-webkit-autofill:hover, 
                    &:-webkit-autofill:focus {
                        background-color: var(--focusInputBgColor);
                        border-color: var(--focusInputBgColor);
                        color: var(--lightGreyTextColor);
                        box-shadow: none;
                        outline: none;
                    }

                    &::placeholder {
                        color: var(--placeholderTextColor);
                    }
                }
            }
        }

        .oauthContainer {

            padding-top: 10px;

            .oauthTitle {

                text-align: center;
                margin: auto;
                font-family: "Poppins";
                color: #474761;
                padding: 10px;
                font-size: 14px;
                letter-spacing: 0.5px;

            } 

            .oauthProviders {

                display: flex;
                align-items: center;
                justify-content: center;

                padding-top: 10px;

                .provider {
                    width: 32px;
                    height: 32px;

                    background-color: var(--buttonBgColor);
                    padding: 11px;
                    border-radius: 15px;

                    margin: 0px 15px;
                    cursor: pointer;

                    transition: 0.5s ease;

                    &:hover {
                        background-color: var(--buttonHoverBgColor);

                        svg > path {
                            fill: var(--svgHoverColor);
                        }
                    }

                    svg {
                        path {
                            fill: var(--svgColor);
                        }
                    }
                }
            }
        }
    }

    .illustrationAuth {
        display: flex;
        background-image: url("https://shareyourstream.pages.dev/assets/images/bg-login.png");
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: center;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s !important;
}

@import '../pages/auth/signIn';
@import '../pages/auth/signUp';

@media screen and (max-width: 1000px) {

    .authLayout > .illustrationAuth { display: none; }

}