.streamChartsLayout {

    .streamChartRouter {
        
        display: flex;
        justify-content: space-evenly;
        flex: 1;

        .changeDurationBtn {

            background-color: var(--buttonBgColor);
            padding: 7px;
            border-radius: 3px;

            line-height: 15px;

            text-decoration: none;
            color: white;

            .title {

            }

            .label {
                font-size: 10px;
            }

            transition: all 0.5s ease;

            &:hover {
                transition: all 0.5s ease;

                background-color: var(--buttonHoverBgColor);
            }
        }
    }

    .spotifyChartsPage {
        
    }
}