.signUpPage {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    flex-direction: column;
    
    width: 100%;
    max-width: 450px;

    .title {

    }

    .content {

    }
}