.signInPage {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    flex-direction: column;
    
    width: 100%;
    max-width: 485px;

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: var(--linkTextColor);

            &:hover {
                color: var(--linkHoverTextColor);
            }
        }

        .submitBtn {
            background-color: var(--buttonBgColor);
            padding: 16px 40px;
            border-radius: 7px;
            cursor: pointer;

            transition: ease 0.5s;

            &:hover { 
                background-color: var(--buttonHoverBgColor);
                transition: ease 0.5s;
            }
        }
    }
}