$darkBgColor: #14141f;

$primaryTextColor: #9b1fe8;

$primaryGrayLightColor: #b1b1c2;
$primaryGrayDarkColor: #474761;

$blue700: #1a1a40;
$blue600: #2c2c66;
$black: #000;
$grey100: #efefef;
$grey200: #ebe9e9;
$purple100: #7a0bc0;
$purple200: #650c9d;

$darkBlue500: #343760;
$darkBlue300: #14141f;
$darkBlue200: #1b1b29;
$darkBlue100: #1f1f2f;

$darkGrey700: #474761;
$darkGrey600: #565674;
$darkGrey500: #b1b1c2;
$darkGrey400: #888cc9;
$darkGrey300: #9d9fc4;
$darkGrey200: #c3c5d4;
$darkGrey100: #b1b1c2;

$lightGrey200: #888cc9;
$lightGrey100: #9d9fc4;