@import "./colors";

$themes: (
    bgColor: (
        darkTheme: $darkBgColor,
        lightTheme: white,
    ),
    textColor: (
        darkTheme: white,
        lightTheme: $darkBgColor,
    ),
    primaryTextColor: (
        darkTheme: $primaryTextColor,
        lightTheme: $primaryTextColor
    ),
    lightGreyTextColor: (
        darkTheme: #b1b1c2
    ),
    greyTextColor: (
        darkTheme: $primaryGrayDarkColor,
        lightTheme: $primaryGrayDarkColor
    ),
    inputBgColor: (
        darkTheme: #1b1b29,
        lightTheme: red
    ),
    focusInputBgColor: (
        darkTheme: #1f1f2f,
    ),
    placeholderTextColor: (
        darkTheme: #565674
    )
);

@mixin styles($mode) {
    @each $key, $map in $themes {
        @each $prop, $color in $map {
            @if $prop == $mode {
                --#{$key}: #{$color};
            }
        }
    }
}

.dark-mode {
    @include styles("darkTheme");
}

.light-mode {
    @include styles("lightTheme");
}
