$navbarLinkColor: #9ba1aa;

.landingPage {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    .homeBanner {
        width: 100%;
        height: 100vh;

        display: flex;
        flex-direction: column;
        
        .bannerHeader {
            display: flex;
            padding: 20px 5%;

            img {
                width: 72px;
                height: 100px;

                opacity: .8;
                cursor: pointer;

                transition: opacity 0.5s;

                &:hover {
                    transition: opacity 0.5s;
                    opacity: 1;
                }
            }

            .bannerNavbar {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            
                flex: 1;

                .NavLinks {
                    padding: 10px;
                }

                a {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 36px;

                    text-transform: capitalize;
                    text-decoration: none;
                    color: $navbarLinkColor;

                    padding: 10px;
                    transition: all ease 0.5s;

                    &:hover {
                        transition: all ease 0.5s;
                        color: white;
                    }
                }

                .componentPrimaryButton {
                    background: linear-gradient(180deg, rgba(7, 27, 208, 0.42) 0%, rgba(97, 4, 216, 0.42) 100%);
                    border-radius: 21px;
                    padding: 10px 43px;

                    color: white;

                    transition: all ease 0.5s;

                    &:hover {
                        transition: all ease 0.5s;
                        background: linear-gradient(180deg, rgba(7, 27, 208, 0.52) 0%, rgba(97, 4, 216, 0.52) 100%);
                    }

                }


            }
        }

        .bannerTitle {
            display: flex;
            flex: 1 1;

            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            padding: 20px 15%;

            .title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 36px;

                text-transform: lowercase;
            }

            .subTitle {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;

                font-size: 20px;
                line-height: 24px;
                
                text-transform: lowercase;

            }
        }
    }
}
